@media screen and (max-width: 768px) {
  .bg-main {
    background-image: url(../images/bg-mobile-dark.jpg);
    height: 200px;
  }
  section {
    width: 100%;
  }
}

@media screen and (max-width: 425px) {
  main {
    padding: 50px 20px;
  }
  section {
    width: 100%;
  }
}
