main {
  background-repeat: no-repeat;
  background-position: top;
  padding: 50px 40px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

section {
  width: 100%;
  max-width: 600px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header {
  height: 50px;
  color: var(--text2);
  margin-bottom: 20px;
}
