main {
  width: 100%;
  min-height: 100vh;
  padding: 50px 40px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  background-color: var(--bg);
}

.bg-main {
  width: 100%;
  height: 200px;
  top: 0;
  left: 0;
  position: fixed;
  background-image: url(../images/bg-desktop-dark.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

section {
  width: 100%;
  max-width: 600px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
}

.btn-theme {
  cursor: pointer;
  transition: all 0.3s;
}
.btn-theme:hover {
  transform: scale(1.2);
}
.box {
  width: 100%;
  height: 50px;
  background-color: var(--line);
  padding: 10px 15px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  color: var(--text);
}

.input-todo {
  justify-content: space-between;
}

.line {
  width: 100%;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  border-bottom: 1px solid var(--lineHover);
  transition: all 0.3s;
}

.line:first-child {
  border-radius: 8px 8px 0px 0px;
}

.line:hover {
  background-color: var(--hover);
}

.line div {
  width: 90%;
  display: flex;
  align-items: center;
  gap: 10px;
}

.circle {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid var(--border);
  cursor: pointer;
}

.checked {
  background: rgb(87, 221, 255);
  background: linear-gradient(127deg, rgba(87, 221, 255, 1) 23%, rgba(192, 88, 243, 1) 79%);
  border: none;
  cursor: pointer;
}

.iconCheckNone {
  display: none;
}

.iconChecked {
  display: flex;
  width: 8px;
  height: 10px;
}

.line div input {
  width: calc(100% - 35px);
  height: 40px;
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--placeholder);
  font-size: 18px;
  line-height: 40px;
}

input::placeholder {
  color: var(--text3);
}

.line div p {
  width: calc(100% - 35px);
  display: inline-block;
  color: var(--text);
  font-size: 16px;
  line-height: 40px;
  transition: all 0.2s;
}

.item-completed {
  text-decoration: line-through;
  font-style: italic;
  opacity: 0.6;
}
.line img {
  width: 14px;
}
.container-list,
.list {
  width: 100%;
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: auto;
  border-radius: 8px;
}

.shadow {
  box-shadow: 2px 2px 5px 1px var(--shadow), -2px -2px 5px 1px var(--shadow);
}

.infos {
  justify-content: space-between;
  color: var(--text3);
}

.btn-options {
  font-size: 18px;
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--text3);
  transition: all 0.3s;
  cursor: pointer;
}

.btns {
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.btn-options:active,
.btn-options:hover {
  color: hsl(220, 98%, 61%);
}

.btn-delete {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  padding: 2px;
  background-image: url('../images/icon-cross.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transition: all 0.2s;
}

.btn-delete:hover {
  transform: rotate(90deg);
}
